<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
    <link rel="stylesheet" href="demo/demo.css">
    <meta charset="utf-8">
    <title>Articler Demo</title>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout" ng-app="articler-demo">
      <div class="" ng-controller="DemoController">
        <header class="mdl-layout__header">
          <h2>Articler Demo</h2>
        </header>

        <main class="mdl-layout__content">

          <input class="mdl-textfield__input" type="text" placeholder="Write a word" ng-model="word">

          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
            <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" ng-model="uppercase" />
            <span class="mdl-checkbox__label">Uppercase</span>
          </label>
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
            <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" ng-model="onlyArticle" />
            <span class="mdl-checkbox__label">Only article</span>
          </label>


          <h3>Result</h3>
          <h4>{{ word | articler: uppercase:onlyArticle }}</h4>
        </main>
      </div>
    </div>



    <script type="text/javascript" src="demo/lib/angular.min.js"></script>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <script type="text/javascript" src="dist/articler.min.js"></script>
    <script type="text/javascript" src="demo/demo.js"></script>
  </body>
</html>
